// MDB SCSS
@import "~mdb-angular-ui-kit/assets/scss/mdb.scss";

.main
{
    padding: 1em;
    font-size: 20px;
    
}


.title{
    width: max-content;
    padding: 0px 40%;
}
.col{
    color: rgb(22, 47, 107);
    
}
.i{
    color: rgb(22, 47, 107);
    padding: 1em 1em;
}