

.mat-table {
    background: #fff;
    width: -webkit-fill-available;}

    .center {
        margin: auto;
        width: 50%;
        display: flex;

        padding: 10px;
        align-items: center;
        align-content: center;
        text-align: center;
      }

      .clock{
       
        border: 3px solid rgb(10, 45, 158);
    width: max-content;
    font-size: 2em;
    padding: 10px;
    border-radius: 14px;
    font-weight: 500;
      }